<img src="/assets/img/burger.png" alt="Beef Burger Clipart">

<h1>Eat Burgers!</h1>

<h2>Add a Burger</h2>
<form class="create-form">

  <div class="form-group">
    <label for="eb">Burger Name:</label>
    <input type="text" id="eb" name="name">
    <button type="submit">Add Burger</button>
  </div>

  <div class="row">
    <h2 class="column">Burgers to be Eaten!
      <ul class="list">
        {{#each burgers}}
        {{#unless devoured}}
        {{>burgers/burger-block devoured=true}}
        {{/unless}}
        {{/each}}
      </ul>
    </h2>
    <h2 class="column">Devoured Burgers!
      <ul class="list">
        {{#each burgers}}
        {{#if devoured}}
        {{!-- below indicates a partial --}}
        {{>burgers/burger-block devoured=false}}
        {{/if}}
        {{/each}}
      </ul>
    </h2>
  </div>


</form>