body {
    color: #222222;
    font-size: 1em;
    font-family: "Open Sans", "Helvetica Neue", sans-serif;
    background-color: burlywood;
    margin: auto;
    width: 60%;
  
  padding: 10px;
}
img {
  width: 30%;
  height: 30%;
  border-radius: 50%
}

.column {
  flex: 50%;
}

.row {
  display: flex;
  
}

.list {

font-size: 20px;
}